/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
/*******************************************
            BACKGROUND STYLE
********************************************/
/*This section is giving general instructions for the website organization*/
html{
	font-size:10px;
	font-family:"open-sans", sans-serif;
	background-color: white;
}
.limit, .boxes{
	padding-left: 10px;
	padding-right:10px;
}
button:hover{
	font-weight: bold;
}
iframe{
	width:100%;
	height:400px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
main .material-symbols-outlined, header .material-symbols-outlined{
	font-size:45px;
}

footer{
	padding-top:15px;
	background-color: #222222;
	color:#c78c06;
}
/*******************************************
            BUTTON STYLE
********************************************/
/*section of buttons, every button was targeted individually and together in one section just because I felt having the buttons all together would help them*/
.connect button{
	display:flex;
	background-color: #c78c06;
	border:none;
	padding:15px;
	margin:10px;
	align-items: center;
}
.box1 button{
	display:flex;
	font-size: 15px;
	color: white;
	background-color: #222222;
	border:none;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}
.box2 button{
	display:flex;
	font-size: 15px;
	color:white;
	background-color: #222222;
	border:none;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}.box3 button{
	display:flex;
	font-size: 15px;
	color:white;
	background-color: #222222;
	border:none;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}.box4 button{
	display:flex;
	font-size: 15px;
	color:white;
	background-color: #222222;
	border:none;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}.box5 button{
	display:flex;
	font-size: 15px;
	color:white;
	background-color:#222222;
	border:none;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}
.vision button{
	display:flex;
	font-size: 15px;
	color:white;
	background-color:#222222ae;
	border-color:black;
	border-width: 1px;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	align-items:center;
}
.message button{
	font-size:15px;
	color:#c78c06;
	background-color: #222222;
	border:none;
	margin-top:10px;
}
/*******************************************
            IMG STYLE
********************************************/
 main img{
	height:auto;
	width: auto;
}
/*******************************************
            TEXT STYLE
********************************************/
/*I decided to have an overall for text in another section instead of putting it all in the first section at the start*/
/*took the hover button information from my midterm assignment*/
h1{
	font-size: 45px;
	font-weight: bold;
	color:white;
	padding:10px;
	line-height: 1.5;
}
h2{
	font-size: 25px;
	font-weight: bolder;
	color: #222222;
}
h3{
	font-size:20px;
	font-weight:bold;
	color: #222222;
}
h4{
	font-size:10px;
	font-weight:bolder;
	color:#222222;
}
p{
	font-size:10px;
}
a{
	color:#c78c06;
	text-decoration: none;
	text-align: center;
}
a:hover{
	color:#222222;
	background-color: #c78c06;
	font-weight: bolder;
}
a:active{
	color:#ffe6ac;
}
/*******************************************
            MOBILE STYLE
********************************************/
/*Here is were I started to target the website elements to help organize and style everything*/
/******************
	NAV STYLE
******************/
/*use flex to manipulate and organize the nav*/
#logo{
	background-color: #c78c06;
}
nav{

	background: #222222;
	margin: 0 auto;
}
nav .limit{
	padding: 10px;
	font-size: 15px;
	width:100%
}
nav a{
	padding: 15px;
	text-align: center;
	display: block;
}
nav li:nth-child(1) a{
	background-color: #c78c06;
}
nav li:nth-child(1) a{
	color:#222222;
}
.search form {
	display: flex;
}
.search form input{
	flex-grow:1;
}
nav button{
	color:#c78c06;
	background-color: #222222;
	border-color: #c78c06;
}
/******************
	HEADER STYLE
******************/
/*with help of the professor used the image as a background in css instead of html, used the samething for the vision section*/
header{
	background-image: url("../images/main-banner.jpg");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	padding-top:10px;
	padding-bottom:10px;
}
header .limit{
	padding-left:0;
	padding-right:0;
}
header .text{
	background-color: rgba(0,0,0,.5);
	margin-top: 10%;
	margin-bottom:10%;
	padding-bottom: 5px;
}
.text p{
	color: white;
	font-size:12px;
	margin:10px;
}
/******************
	ABOUT STYLE
******************/
/*simple styling text, padding*/
.pinpon, #about{
	background-color: #ffe6ac;
}
.pinpon{
	padding-top:10px;
	padding-bottom:20px;
}
#about{
	padding-bottom: 15px;
}
#about h2{
	font-size: 30px;
	margin-bottom: 15px;
}
#about p{
	font-size:10px;
	padding-bottom:10px;
}
/********************
	SERVICES STYLE
*********************/
/*Boxes are services adn I use a convination of margin and padding to organize and separate each box*/
/*I divided them by numbers cuz when I was working on them I started to get confused and lost my boxes a few times*/
/*1*/

.boxes h2{
	padding-top:25px;
	padding-bottom:15px;
}
.boxes p{
	padding:10px;
}
.box1{
	background-color: #ffe6ac;
	padding-bottom:5px;
	margin-bottom:10px;
}
.box1 img{
	width:500px;
}
.boxes h3{
	padding:10px;
}
.box1 button{
	margin-left:10px;
}
/*2*/

.box2{
	background-color:#ffe6ac;
	padding-bottom:5px;
	margin-bottom:10px;
}
.box2 img{
	width:500px;
}
.box2 button{
	margin-left:10px;
}
/*3*/

.box3{
	background-color:#ffe6ac;
	padding-bottom:5px;
	margin-bottom:10px;
}
.box3 img{
	width:500px;
}
.box3 button{
	margin-left:10px;
}
/*4*/

.box4{
	background-color:#ffe6ac;
	padding-bottom:5px;
	margin-bottom:10px;
}
.box4 img{
	width:500px;
}
.box4 button{
	margin-left:10px;
}

/*5*/

.box5{
	background-color:#ffe6ac;
	padding-bottom:5px;
	margin-bottom:10px;
}
.box5 img{
	width:500px;
}
.box5 button{
	margin-left:10px;
}

/********************
	VISION STYLE
*********************/
/*used the image in css*/
.vision{
	background-image: url("../images/vision.jpg");
	background-size:cover;
	background-position:center;
	padding-top:10px;
	padding-bottom: 10px;
}

.visiontext{
	color:white;
	font-size:10px;
	margin-top:10px;
}
.vision h3{
	color:white;
	padding-top:10px;
}

.visiontext button{

	margin-bottom: 10px;
}

/********************
	TEAM STYLE
*********************/
/*This section I had issues with the line, after talking to the professor I understood how the bottom line behaved and why it was behaving the way it did*/
#Tim h2{
	margin:10px;
	padding-top:30px;
	padding-bottom:15px;
}
.member1, .member2{
	background-color:#ffe6ac;
	margin-bottom:10px;
}
.member1 h3, .member1 h4, .member2 h3, .member2 h4{
	padding-left:10px;
}
.member1 h3, .member2 h3{
	margin-top:10px;
}

.member1 h4, .member2 h4{
	padding-right:10px;
	padding-bottom:2px;

}
.member1 p, .member2 p{
	font-size:12px;
	padding: 10px;
}
/*QUESTION ABOUT THE LINE*//*question got answered, THANK YOU!*/
.member1 h4::after, .member2 h4::after{
	content:"";
	display: block;
	border-bottom: 2px solid #c78c06;
	margin:auto 0;
}

/********************
	CONTACT STYLE POTENTIAL IMPROVEMENT
*********************/
.information{
	margin-top: 30px;
}

#Contact label{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
/*Googled and chatgpt this particular section, I used it in my midterm as well. I am still unsure as to how to make it react in a particular way, but I understand the
overall gesture of it*/
#Contact input, #Contact textarea{
	display:block;
	height: 20px;
	width:100%;
	padding:10px;
	box-sizing: border-box;
}

#Contact textarea{
	height: 180px;
}

/********************
	TIMETABLE STYLE POTENTIAL IMPROVEMENT
*********************/
/*this section had a couple of changes when working on it. The main thing I am still unsure of its use is the >. I was asking help to chatgpt, because for some reason tables
are my kryptonite. However I modified the answer it gave me because it was gridding the entire website, instead of just the table.*/
.limit h3{
	padding-top:10px;
	padding-bottom:10px;
}
.hours{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom:10px;
}
.hours h3{
	grid-column: span 2;
}
.hours > div{
	padding: 10px;
	border: 1px solid #222222;
}
.hours .header{
	background-color:#ffe6ac;
	font-weight:bold;
}

/********************
	LOCATION STYLE POTENTIAL IMPROVEMENT
*********************/
.location h3{
	margin-top:10px;
	margin-bottom:10px;
}

/******************************************
			MEDIA QUERIES
******************************************/
/*Starting the media querie, was a bit overwhelming because i realized I needed to write an entire website*/
@media screen and (min-width:800px){
/*Divided it the same way I did the mobile version*/
	.limit{
		width:90%;
		max-width:970px;
		margin: 0 auto;
		padding-left:10px;
		padding-right:10px;
	}	
	.limit, .boxes{
		padding-left:60px;
		padding-right:60px;
	}
	.material-symbols-outlined {
  	font-variation-settings:
 	'FILL' 1,
  	'wght' 600,
  	'GRAD' 0,
  	'opsz' 48
	}
	h1{
		font-size:60px;
	
	}
	h2{
		font-size:40px;
	}
	h3{
		font-size:30px;
	}
	p{
		font-size:12px;
	}
	.connect button{
		font-size: 16px;
	}

	footer{
		padding-bottom: 10px;
	}
/******************************
		NAV
*******************************/
/*got helped to center everything, still got a problem with how my logo reacts, but I believe it is as close to the mockup as I could make it*/
	nav{
		padding:10px;
	}	
	#logo{
		background-color:transparent;
	}
	#logo img{
		width:65px;
	}
	nav .limit{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav ul{
		display:flex;
		justify-content:space-around;
		margin-left:50px;
	}
	nav a{
		padding-left:30px;
		padding-right:30px;
	}

/******************************
		WELCOME
*******************************/
	header{
		padding-left:40px;
		padding-right:40px;
	}
	/*remade the box behind the text because i see it a bit darker in the browser section, compared to the mobile version*/
	header .text{
		background-color: rgba(0, 0, 0, 0.556);
		margin-right:10px;
		margin-left:10px;
		padding-top:30px;
		padding-bottom:30px;
		padding-top:none;
		padding-bottom:none;
	}
	.text p{
		margin:5px;
	}
/******************************
		ABOUT
*******************************/
/*the easiest portion of just aligning everything together dividing it into two, using flex*/
#about .limit{
	display:flex;
	align-items:stretch;
}
.pinpon{
	width:50%
}
.pinpon img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}
#about article{
	width:50%;
	padding:5px;
}
#about h2{
	font-size: 40px;
	margin-top:25px;
	margin-bottom:25px;
}
#about p{
	font-size:12px;
}
/******************************
		SERVICES
*******************************/
/*cheated a little bit in here with chatgpt, I knew i needed grid to make it work, but I was just having issues making it work. I compared my answer to the chatgpt response
and made it work.*/
.boxes{
	width:90%;
	max-width:970px;
	margin:0 auto;
	display:grid;
	grid-template-columns:repeat(6,1fr);
	gap:8px;
}
.boxes h3{
	font-size: 30px;
}
.boxes p{
	font-size: 12px;
}
/*this particular comand is the one that made everything look how I wanted it, I tried understanding its purpose, however it was unclear*/
.boxes h2{
	grid-column:1/-1;
}
.box1, .box2{
	grid-column: span 3;
}
.box3, .box4, .box5{
	grid-column:span 2;
}
.boxes img{
	width:100%;
	display:block;
}
/*section with which I got help from professor*/
.boxes button{
	box-sizing:border-box;
	width: calc(100% - 20px);
	justify-content: center;
	font-size: 18px;
}
/******************************
		VISION
*******************************/
/*the easiest part of the entire website, very proud of how simple this was*/
.vision{
	padding-top:20px;
	padding-bottom:10px;
}
.visiontext{
	margin-top:20px;
}
.visiontext p{
	font-size: 12px;;
}
/******************************
		TEAM
*******************************/
/*was having trouble with my line for h4, professor explained why it was behaving the way it was. The section needed a particular extra box to bring everything together*/
#Tim h2{
	padding-left:60px;
}
.member1, .member2{
		margin-bottom:0px;
}
.member1 h3,.member2 h3{
	font-size: 25px;
	font-weight: bolder;
}
.member1, .member2{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.member1 .m1photo{
	grid-column:1;
	grid-row:1;
}
.member1 h3, .member1 h4, .member1 p{
	grid-column:2;
}
.member2 .m2photo{
	grid-column:2;
	grid-row:1;
}
.member2 h3, .member2 h4, .member2 p{
	grid-column:1;
}
.member1 img, .member2 img{
	width:100%;
	height:100%;
	object-fit:cover;
}
/******************************
		CONTACT/LOCATION
*******************************/
/*This final section contains, the location, contact and hours. HOWEVER I had trouble setting it up.*/
#Contact h2{
	padding-bottom:30px;
}

.information .limit{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:20px;

grid-template-areas:
"title title"
"three two"
"one one";
}
.information h2{grid-area: title;}
.information .hours{grid-area:one}
.information .location{grid-area:two}
.information #Contact{grid-area:three}

}